doctype html 
html(lang="English")
    head
        link(rel="manifest" href="/manifest.json")        
        meta(charset="utf-8")  
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        meta(http-equiv="content-Type" content="text/html; ISO-8859-1")
        meta(name="DC.Language" SCHEME="RFC1766" content="English")
        meta(name="author" content="Joel Rodriguez")
        meta(name="replay-to" content="https://github.com/joel1725/Machine-Learning-ML5-y-P5")
        meta(name="description" content="Machine learning proyect to add a picture an see what the model predict")
        meta(name="keywords" content="machine learning")
        meta(name="Resource-type" content="Homepage") 
        meta(name="DateCreated" content="Tue, 2 August 2018 00:00:00 GMT+1")
        meta(name="Revisit-after" content="7 days")
        meta(name="robots" content="follow")
        link(rel="icon" href="img/joel.ico")  
        link(rev="made" href="https://github.com/joel1725/Machine-Learning-ML5-y-P5")
        link(rel="stylesheet" type="text/css" href="css/lib/animate.css")
        link(rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="css/lib/brands.css")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        title Machine Learning con ML5
    body 
        include componenetes/board 
         
        script(type="text/javascript" src="js/lib/p5.min.js")
        script(type="text/javascript" src="js/lib/p5.dom.min.js")
        script(type="text/javascript" src="js/lib/ml5.js")
        script(type="text/javascript" src="js/lib/jquery-3.3.1.min.js")
        script(type="text/javascript" src="js/main-min.js")
        
    
