.svgMarron1
.svgMarron2
.board
  .textoLoading
    .loadingAzul LOADING MODEL...
    .loadingGris LOADING MODEL...
  .textos
    .textoPrincipal
      .tituloPrincipal MACHINE LEARNING
      .tituloSecundario IMAGE VIDEO CLASIFYER
      .linea
    .textoExplicativo
      .primerTexto
        .explicativo
          .pasoNum 1
          .explicacion Take at least 5 frontal pictures of your face.
        .btnTomarFoto Take a frontal picture
        .btnSiguiente Next
        .fotosTomadas 
      .segundoTexto
        .explicativo
          .pasoNum 2
          .explicacion Take at least 5 profile pictures of your face.
        .btnTomarFoto Take a profile picture
        .btnSiguiente Next
        .fotosTomadas 
      .tercerTexto
        .explicativo
          .pasoNum 3
          .explicacion Train the model
        .btnSiguiente Train
        .fotosTomadas
      .cuartoTexto
        .explicativo
          .pasoNum 4
          .explicacion Change the position of your face, from frontal to profile, the pc will tell you the position your face is at.
  .videoCont
    .avatarCont
      .svgBlanco
      .avatar
    #camara
      .redultado
